body {
/*    background-color: #F2F2F2;#e0dcd5;*/
    background-color: #faf5f0;
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: black; 
}

h1 {
    word-break: break-all;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #e0dcd5; 
}


p {   
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}   

.spacing {
    line-height: 24px;
}



.row-space {
    padding-top: 25px; padding-bottom: 25px;
}

.row-space2x {
    padding-top: 75px;
}

.row-space3 {
    padding-bottom: 75px;

}


.row-spaceX {
    padding-top: 75px; padding-bottom: 75px;
}

.fade {
  opacity: 1;
}

.cover-container {
    height: 350px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    background-position: center;
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    width: 300px;
    height: 350px;
    vertical-align: middle;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header { 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}


.project-landing {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    align-items: center;    
}


.hover {
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-bottom: 100px; 
}


.hideme {
    opacity:0;
}

.thumbnail {
    background-color: transparent;
    border-color: transparent;
}

.img-hover > a h4 {
    opacity: 0;
    transition: .5s;
    color: #222; 
}

.img-hover > a p {
    opacity: 0;
    transition: .5s;
}

.img-hover > a:hover h4,
.img-hover > a:hover p {
    opacity: 1;
}

.img-hover > a:hover {
    text-decoration: none;
}



/* NAVBAR */

.navbar {
    background-color: transparent;
    padding: 40px;
    padding-bottom: 0px;

}

.nav-item  {
    font-size: 12px;
    font-weight: 500;
}

.nav-item > .nav-link {
    color: black;

}

.navbar-nav > li.active > a {
   color: black;
}


.fa-volume-up {
    color: #e0dcd5;
}

.fa-volume-up:hover {
    color: black;
}

.fa-volume-up-on {
    color: black;
}



.navbar .navbar-right > li > a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;

}

.navbar .navbar-right > li > a:hover {
    text-decoration: underline;
    
}

.navbar .navbar-right > li.active > a {
    color: #333;
    font-weight: 600;
    
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
    
  
}
.icon-bar
{
  background:#bbb !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background: transparent !important; /*Whatever colour you want for background */
}
.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-md-4 {
  display: inline-block;
  float: none;
}

.testimonial-group > .row > .col-md-6 {
  display: inline-block;
  float: none;
}

.testimonial-group2 > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}
.testimonial-group2 > .row > .col-10 {
    flex: 0 0 auto;
}

.testimonial-group2 > .row > .col-6 {
    flex: 0 0 auto;
}

.testimonial-group2 > .row > .col-4 {
    flex: 0 0 auto;
}


hr {
    border: 0;
    height: 3px;
    background: #333;
}

span {
    font-weight: 600;
    line-height: 16px;
}


.centeralign {
    text-align: center;
}

.center {
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 40px;
}

.font {
font-family: "aktiv-grotesk", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 28px;
    letter-spacing: 0px;
    line-height: 32px;
    
}

.titlebold {
font-family: "aktiv-grotesk", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
    letter-spacing: 0px;  
}

.link {
font-family: "aktiv-grotesk", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;    
  
}
.link > a {
    color: #e0dcd5;
}

.link > a:hover {
    color: black;
}

.parallax {

    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    border-top-style: solid;
    border-top-width: 3px;
    padding-bottom: 50px;
   }

.navbar-collapse.in {
    overflow-y: visible;
}

.dropdown-full {
    display: none;
}

.carousel-indicators > li {
 background: #a1a1a1;
}
.carousel-indicators > li,
.carousel-indicators > li.active{
    border: 1;
    border-color: transparent;
    margin: 0 6px;
    height: 3px;
    border-radius: 6;
    width: 60px;
    
    
  }


/*
.carousel-fade .carousel-inner > .carousel-item {
    transition-property: opacity;
}
.carousel-fade .carousel-inner > .carousel-item,
.carousel-fade .carousel-inner > .carousel-item.active.left {
    opacity: 0;
}
.carousel-fade .carousel-inner > .carousel-item.active,
.carousel-fade .carousel-inner > .carousel-item.next.left {
    opacity: 1;
}
.carousel-fade .carousel-inner > .next,
.carousel-fade .carousel-inner > .prev,
.carousel-fade .carousel-inner > .active.left,
.carousel-fade .carousel-inner > .active.right {
    left: 0;
}
.carousel-fade .carousel-inner > .carousel-item.next,
.carousel-fade .carousel-inner > .carousel-item.active.right,
.carousel-fade .carousel-inner > .carousel-item.prev,
.carousel-fade .carousel-inner > .carousel-item.active.left {
    transform: translate3d(1, 0, 0);
}
*/




/*
.carousel-indicators > li,
.carousel-indicators > li.active{
    width: 100px;
    height: 25px;
    border-radius: 0;
    border: solid 1px grey;
    background: lightgrey;
    text-indent: 0;
}
*/

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .center {
        font-family: "aktiv-grotesk", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        letter-spacing: 0px;
        line-height: 60px;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}

